<div class="container-fluid" id="beershow">
<h1><%= beer.data.breweries[0].name +' '+ beer.data.name %></h1>



<div class="well">
<% if(!beer.data.labels) { %>
			<img src="/css/images/beerglass.jpg">
	<% } else { %>
   <img src="<%= beer.data.labels.medium %>">
  <% }; %>

  <p id="description"><%= beer.data.description %></p>

  <p id="abv">ABV: <%= beer.data.abv %></p>

<% if (!beer.data.style) { %>
	<p>Beer Style: too awesome for words</p>
<% } else { %>
  <p id="beerstyle">Beer Style: <%= beer.data.style.shortName %></p>
  <% } %>
</div>

<form method="POST" action="/favorites">
  <input type="hidden" value="<%= beer.data.id %>" name="beerId">
  <input type="hidden" value="<%= beer.data.name %>" name="beerName">
  <input type="hidden" value="<%= currentUser.id %>" name="userId">
  <input type="submit" class="btn btn-success" value="Add to Favorites">
</form>
</div>

<!-- 

data.breweries.name    beer.breweries[0].name   BREWERY NAME IS NOT WORKING... 
(data.breweries.website)
data.name (or data.nameDisplay)
data.labels.medium (or .icon), else use brewery icon, else use logo
data.breweries.images.icon (use this website as img src="")
data.description
data.abv
data.style.shortName -->

<!-- < user.name ? user.name : '' %> -->